<footer>
    <div class="social-handles">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="company-name">
        <i class="fa-regular fa-copyright"></i>
        2024 BnB, Inc.
    </div>
    <div class="page-links">
        <a href="/privacy" id="link-common">Privacy,</a>
        <a href="/terms" id="link-common">Terms</a>
    </div>
</footer>